:root {
  --bg-main: #222222;
  --bg-surface: #333333;
  --bg-surface-secondary: #282828;
  --primary: #00BFAE;
  --accent: #FFD166;
  --text-main: #F5F5F5;
  --text-secondary: #A0A0A0;
  --border: #393939;
  --danger: #FF647C;
  --danger-secondary: #e83f60;
  --success: #2FD572;
  --color-set-warmup: #38bdf8;
  --color-set-work: #34d399;
  --color-set-dropset: #f97316;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
