@import "./base.css";

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased; /* Chrome, Safari, Edge */
  -moz-osx-font-smoothing: grayscale;  /* Firefox */
}

h1, h2, h3 { font-weight: 700; }
button { font-weight: 600; }
body { font-weight: 400; }
